PROJECT_NAME="Weather Service API"
DEBUG=True

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DB=


WEATHER_API_KEY=
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather

RATE_LIMIT_PER_MINUTE=30
WEATHER_CACHE_TTL_SECONDS=300


POSTGRES_HOST=
DATABASE_URL=
REDIS_URL=