PROJECT_NAME="Weather Service API"
DEBUG=True

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
DATABASE_URL=
REDIS_URL=

WEATHER_API_KEY=your_api_key_here
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather

RATE_LIMIT_PER_MINUTE=30
WEATHER_CACHE_TTL_SECONDS=300